@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #fdfdfd;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

h3 {
    font-size: large;
    font-weight: bold;
}

p {
    margin-top: 1%;
}

img {
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.code.panel {
    background: #2b2b2b;
  padding: 1em;
  margin: 0.5em auto;
  overflow: auto;
  border-radius: 0.3em;
}
.syntaxhighlighter-pre {    
    color: #f8f8f2;
    padding-left: 0;
    border: none;
    overflow-x: initial;
    display: block;
    font-family: inherit;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.font-bold {
    font-weight: 700;
}